<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} &laquo; Awesome calculators</title>
    <meta name="author" content="Khaja Minhajuddin" />
    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
    <link rel="canonical" href="http://calc.minhajuddin.com{{ page.url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript" src='/js/underscore-min.js'></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10568795-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <div id="ribbon"></div>
     <div class="container">
       <div id="header">
         <h2 class="span-14" style="margin-bottom: 0px;">
           <a href="/" title="In search of the next shiny thing">Awesome calculators &raquo;</a>
         </h2>
         <div class="span-10 last">
           <div class="prepend-top" id="navbar">
             <a href="/" title="In search of the next shiny thing">home</a> &middot;
             <a href="http://feeds.feedburner.com/shiny-stuff" title="Subscribe to the rss feed">rss</a> &middot;
             <a href="/archives" title="Archives">archives</a> &middot;
             <a href="/about" title="About Awesome calculators">about</a> &middot;
           </div>
         </div>
       </div>
       <hr />
       <div>
         {{ content }}
       </div>
       <hr />
       <div id='footer' style='margin-top:-10px;'>
         <div class='span-14'>
           <a href='/' title='in search of the next shiny thing'>home</a> &middot;
           <a href="http://feeds.feedburner.com/shiny-stuff" title="Subscribe to the rss feed">rss</a>  &middot;
           <a href="/archives" title="Archives">archives</a>  &middot;
           <a href='/about' title='Awesome calculators'>about</a> &middot;
           <a href='/about#disclaimer' title='legal'>legal</a> &middot;
           <a href='http://github.com/minhajuddin/calc' title='me on github'>on github</a> &middot;
           <a href='http://twitter.com/minhajuddin' title='me on twitter'>on twitter</a> &middot;
           <a href='mailto:minhajuddin.k@gmail.com' title='email'>email</a> &middot;
           <a href='http://cosmicvent.com' title='Cosmicvent Software'>my company</a>
         </div>
         <div class='span-10 last'>
           <div style='float:right;'>
             <a href='http://creativecommons.org/licenses/by-sa/3.0/' title='Creative Commons (Attribution-ShareAlike 3.0)'>
               <img width="88" height="31" class="top" alt="Valid HTML 4.01 Strict" src="/images/cc-sa.png" />
             </a>
             <a href="http://validator.w3.org/check?uri=referer" title='validate xhtml'>
               <img src="/images/valid.png" alt="Valid HTML 4.01 Strict" height="31" width="88" class="top" />
             </a>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>
